# data & outputs
#data/
#outputs/

# python
#.venv/
#__pycache__/
#*.pyc

# OS/editor
#.vscode/
#.DS_Store

# latex
#latex/build/
#latex/*.aux
#latex/*.log
#latex/*.fls
#latex/*.fdb_latexmk
#latex/*.synctex.gz